

body {

    font-family: "Arial", sans-serif;
    background-color: #191919;
}


h1, h2 {

    font-family: "Arial", sans-serif;
    text-align: left;
}


.main-header {

    color: #E6E6E6;
    font-size: 25px;
}


.sub-header {

    color: #E6E6E6;
    font-size: 20px;
}


.writing {

    color: #E6E6E6;
    font-size: 15px;
}